/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family-serif: "Atkinson Hyperlegible", sans-serif;

$body-color: #1e1e1e;
$body-bg: #f4f4f4;
$link-color: #272bd1;

$primary: #2c2c2c;

/*-- scss:rules --*/

kbd, .kbd{
  background-color: #222222 !important;
}

.navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* css styles */

.content-block {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.hero-banner {
  position: relative;
  background-color: rgb(237,243,249);
  display: flex;
  justify-content: center;
}


.hero-banner h1 {
  color: #5b195b;
  font-size: 3.5rem;
}

.hero-banner .content-block {
  min-width: 300px;
  max-width: 600px;
}

.hero-banner a[role="button"] {
  margin-right: 17px;
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
}

.hero-banner #btn-guide {
  background-color: #959595 !important;
  border: none;
}

.btn-action-primary {
  color: white;
  background-color: #5b195b !important;
}

.btn-action-primary:hover {
  color: white;
}

.btn-action {
  min-width: 165px;
  border-radius: 30px;
  border: none;
}


.alt-background {
  background-color: rgb(247,249,251);
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
